<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="icon" href="/images/favicon.svg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <title>Help Us Page</title>
</head>

<body>

    <style>
        .actions-button {
            color: black;
            text-decoration: none;
        }

    </style>
    <nav class="navbar">
        <div class="navbar-logo" href="#">
            <div class="logo-image">
                <img src="/images/logo.svg">
            </div>
            <div class="logo-name">
                Respect Above Violence
            </div>
        </div>
        <div class="contacts">
            <a class="contacts-links" href="https://web.whatsapp.com/">
                <img src="/images/whatsapp-icon.svg"  >
            </a>
            <a class="contacts-links" href="https://www.instagram.com/rav.ngo/">
                <img src="/images/instagram-icon.svg">
            </a>
            <a class="contacts-links"
                href="mailto:respectaboveviolence@gmail.com?subject=Repect Above Violence Support">
                <img src="/images/email-icon.svg">
            </a>
        </div>
    </nav>

    <main class="container-fluid">

        <div class="nav-links">
            <a class="pages-links" href="/">
                About us
            </a>
            <a class="pages-links" href="/history">
                History
            </a>
            <a class="pages-links" href="/campaign">
                Campaign
            </a>
            <a class="pages-links" href="/help">
                Help us
            </a>
        </div>

        <div class="content">
            <h1>Help Us</h1>
            <div class="information">
                <div class="information-content">
                    <p>
                        There are many ways to help us in the journey against bullying. Considering that we work with
                        many professionals, anyone with abilities related to psychology, psychoanalysis and education
                        would be welcome. If you don’t have any of these abilities, you can also donate a small amount
                        of money, so we can invest in presentations and create a system, connecting students that passed
                        through bullying situations. This way, they can talk to each other and treat their fears and
                        traumas together.
                    </p>
                    <div class="actions">
                        <a class="actions-button"
                            href="mailto:respectaboveviolence@gmail.com?subject=Repect Above Violence Volunteer&body=Hi, I would like to be a volunteer in the NGO project.">
                            <p>Volunteer</p>
                            <img src="/images/hands-helping-solid.svg">
                        </a>
                        <a class="actions-button"
                            href="mailto:respectaboveviolence@gmail.com?subject=Repect Above Violence Donate&body=Hi, I would like to donate a value to help NGO projects.">
                            <p>Donate</p>
                            <img src="/images/donate-solid.svg">
                        </a>
                        <a class="actions-button" 
                            href="mailto:respectaboveviolence@gmail.com?subject=Repect Above Violence Information&body=Hi, I would like to receive information from the NGO.">
                            <p>Info</p>
                            <img src="/images/info-circle-solid.svg">
                        </a>
                    </div>
                </div>

                <a class="media" href="https://youtu.be/l2Dk1hv86Tw">
                    <div class="credits">
                        <img
                            src="https://cdn.discordapp.com/attachments/724748441976307784/877641137765122089/creedits.png">
                    </div>
                </a>
            </div>
        </div>
    </main>

    <footer class="footer">
        <!-- Copyright -->
        <div class="copyright">
            © 2021 Copyright:
            <a>&nbsp; GPA</a>
        </div>
        <!-- Copyright -->
    </footer>

</body>

</html>