<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.svg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <title>About us</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-logo" href="#">
            <div class="logo-image">
                <img src="/images/logo.svg">
            </div>
            <div class="logo-name">
                Respect Above Violence
            </div>
        </div>
        <div class="contacts">
            <a class="contacts-links" href="https://web.whatsapp.com/">
                <img src="/images/whatsapp-icon.svg">
            </a>
            <a class="contacts-links" href="https://www.instagram.com/rav.ngo/">
                <img src="/images/instagram-icon.svg">
            </a>
            <a class="contacts-links"
                href="mailto:respectaboveviolence@gmail.com?subject=Repect Above Violence Support">
                <img src="/images/email-icon.svg">
            </a>
        </div>
    </nav>

    <main class="container-fluid">

        <div class="nav-links">
            <a class="pages-links" href="/">
                About us
            </a>
            <a class="pages-links" href="/history">
                History
            </a>
            <a class="pages-links" href="/campaign">
                Campaign
            </a>
            <a class="pages-links" href="/help">
                Help us
            </a>
        </div>

        <div class="content">
            <h1>About Us</h1>
            <div class="information">
                <p>
                    Created in 2016 by Matheus Zoccarato, a psychologist graduated in Cambridge, respect above violence
                    is a non-profit private entity. Our main objective is to end bullying, however it may be. Counting
                    with psychologists and teachers, we help students through presentations in schools and universities,
                    showing them what bullying can lead to for both bully and bullied. </p>

                <a class="media" href="https://youtu.be/gddIsggiiZU">
                    <div class="youtube-link">
                        <img src="/images/youtube-icon.svg">
                    </div>
                </a>
            </div>
        </div>
    </main>

    <footer class="footer">
        <!-- Copyright -->
        <div class="copyright">
            © 2021 Copyright:
            <a>&nbsp; GPA</a>
        </div>
        <!-- Copyright -->
    </footer>

</body>

</html>